li{
    list-style-type: none;
    margin-bottom: 5px;
}
button{
    margin-left: 5px;
}
#remove ,#delete{
    background-color: rgb(239, 56, 56);
    border: 1px solid rgb(145, 142, 142);
    border-radius: 4px;
}
#AddtoDo{
    background-color: rgb(67, 93, 223);
    border: 1px solid rgb(145, 142, 142);
    border-radius: 4px;
}
input{
    border: 1px solid rgb(145, 142, 142);
    border-radius: 5px;
}
body{

    display: flex;
    align-items: center;
    justify-content: center;
}
#content{
    border: 1px solid #000;
    margin-top: 5%;
    padding: 30px;
    border-radius: 10px;
}
#check{
    background-color: rgb(86, 239, 56);
    border: 1px solid rgb(145, 142, 142);
    border-radius: 4px;
}
h1{
    color: #8D9EFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    display: flex;
    flex-direction: column;
}